*{
  user-select: none;
}
$primaryDark : #33162b;
$primaryLight : #5a2a5a;
$sectionLight : #693269;
@mixin flex ($direction,$justify,$align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.App {
  @include flex(column, default, default);
}
.App-header {
  background-color: $primaryDark;
  height: 45px;
  width: 100vw;
  @include flex(row, flex-start, center);
}
h1 {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 550;
  color: white;
}
.Footer {
  background-color: $primaryDark;
  height: 20px;
  width: 100vw;
  @include flex(row, space-between, center);
  .Footer-Left {
    @include flex(row, flex-start, center);
  }
  .Signature {
    margin-left: 10px;
    margin-right: 4px;
    font-size: 10px;
    color: white;
  }
  .Signature-Pic {
    height: 15px;
    width: 15px;
    background: url(../img/frg.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15px 15px;
    border-radius: 20%;
  }
  .Acknowledgment-Container {
    height: 15px;
    width: 130px;
    margin-right: 10px;
    background: $primaryDark;
    border-radius: 3px;
    clip-path: circle(7% at 95% 50%);
    transition: clip-path .5s ease-in-out;
    @include flex(row, space-between, center);
    p {
      width: 110px;
      margin-left: 5px;
      font-size: 10px;
      color: white;
    }
    div {
      position: relative;
      left: -1px;
      height: 10px;
      width: 10px;
      transition: color .5s;
      &:before, &:after {
        position: absolute;
        content: "";
        left: 5px;
        top: 1px;
        width: 6px;
        height: 9px;
        background: red;
        border-radius: 6px 6px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      &:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
    }
    &:hover {
      clip-path: circle(75%);
      background-color: $primaryLight;
    }
  }
}
.Main {
  @include flex(row, center, center);
  background-color: $primaryLight;
  height: calc(100vh - 65px);
}
.Section-Left {
  height: 506px;
  width: 130px;
}
.Next-Section {
  height: 126px;
  width: 200px;
  border: 3px solid $primaryDark;
  background-color: $sectionLight;
  @include flex(column, default, center);
}
.Next-Label {
  height: 40px;
  width: 126px;
  font-size: 18px;
  font-weight: 550;
  @include flex(default, center, center);
}
.Next-Lost, .Next-Intro {
  margin-top: 15px;
  text-align: center;
  height: 40px;
  width: 120px;
  font-size: 15px;
  font-weight: 550;
}
.Next-Piece-Container-3 {
  width: 64px;
  height: 64px;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 20px);
  grid-gap: 2px 2px;
}
.Next-Piece-Container-4 {
  width: 86px;
  height: 86px;
  display: grid;
  grid-template-columns: repeat(4, 20px);
  grid-template-rows: repeat(4, 20px);
  grid-gap: 2px 2px;
}
.Field-Section {
  height: 500px;
  width: 250px;
  margin: 0px 20px;
  color: rgb(0, 174, 255);
  background-color: $primaryDark;
  border: 3px solid $primaryDark;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 2px 2px;
}
.zero {
  background-color: $sectionLight;
}
.one {
  background-color: rgb(212, 0, 255);
}
.two {
  background-color: rgba(5, 228, 217, 0.877);
}
.three {
  background-color: rgb(47, 78, 255);
}
.four {
  background-color: rgb(255, 174, 0);
}
.five {
  background-color: rgb(251, 255, 0);
}
.six {
  background-color: rgb(0, 255, 64);
}
.seven {
  background-color: rgb(255, 47, 47);
}
.Section-Right {
  height: 506px;
  width: 200px;
  @include flex(column, space-between, default);
}
.Progress-Section {
  height: 190px;
  width: 200px;
  border: 3px solid $primaryDark;
  background-color: $sectionLight;
  @include flex(column, default, center);
}
.Progress-Subsection {
  height: 50px;
  width: 160px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 550;
  @include flex(column, center, center);
}
.Progress-Subsection:nth-child(2){
  border-bottom : 3px solid $primaryDark;
  border-top: 3px solid $primaryDark;
}
.Progress-Subsection p{
  margin-bottom: 5px;
}
.Controls-Section {
  height: 150px;
  width: 200px;
  border: 3px solid $primaryDark;
  background-color: $sectionLight;
  @include flex(column, default, default);
}
.Controls-Label {
  height: 30px;
  width: 200px;
  font-size: 18px;
  font-weight: 550;
  @include flex(default, center, center);
}
.Controls-Container {
  height: 120px;
  width: 200px;
  @include flex(column, space-around, center);
  flex-flow: row wrap;
}
.eye {
  height: 20px;
  width: 20px;
  background: url(../img/eye.svg);
  position: relative;
  top: -43px;
  margin-right: -40px;
}
#Button-Key {
  display: none;
}
.eye:hover ~ .Button, .eye:hover ~ .Left-Button,  .eye:hover ~ .Down-Button, .eye:hover ~ .Right-Button{
  .Button-Title {
    display: none;
  }
  #Button-Key {
    display: flex;
  }
}
.Button {
  cursor: pointer;
  height: 50px;
  width: 70px;
  margin: 0px 5px;
  background-color: $primaryDark;
  font-size: 17px;
  font-weight: 550;
  color: $sectionLight;
  @include flex(default, center, center);
  &:hover {
    color: white;
  }
}
.Intro-Section {
  height: 500px;
  width: 250px;
  margin: 0px 20px;
  background-color: $primaryDark;
  border: 3px solid $primaryDark;
  @include flex(column, center, center);
}
.Intro-Portrait {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  background: url(../img/frg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70px 70px;
  border-radius: 20%;
}
.Intro-Top {
  h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 550;
    color: rgb(224, 215, 215);
  }
  p {
    font-size: 15px;
    font-weight: 550;
    color: rgb(224, 215, 215);
    span {
      font-size: 20px;
      font-weight: 550;
    }
  }
}
.Intro-Mid-Button{
  cursor: pointer;
  height: 60px;
  width: 180px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: $primaryDark;
  border: 3px solid $primaryLight;
  border-radius: 30px;
  @include flex(default, center, center);
  font-size: 22px;
  font-weight: 550;
  color: $primaryLight;
  transition:.5s;
  &:hover {
    background-color: $primaryLight;
    color: white;
    box-shadow: 0px 0px 20px 0px white;
  }
}
.FAQ {
  height: 150px;
  width: 180px;
  border-radius: 20px;
  background-color: rgb(224, 215, 215);
  clip-path: circle(10% at 90% 12%);
  transition: clip-path .5s ease-in-out;
  p {
    padding: 5px 0px 0px 10px;
    font-size: 15px;
    font-weight: 550;
    color: rgb(224, 215, 215);
  }
  span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    @include flex(default, center, center);
    color: $primaryDark;
    font-size: 25px;
    font-weight: 550;
    float: right;
    position: relative;
    margin-top: 3px;
    margin-right: 3px;
    transition: color .5s;
  }
  &:hover {
    clip-path: circle(75%);
    background-color: $primaryLight;
  }
}
.Intro-Add {
  height: 40px;
  width: 180px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgb(224, 215, 215);
  clip-path: circle(13% at 90% 50%);
  transition: clip-path .5s ease-in-out;
  @include flex (row, space-between, center);
  p {
    height: 30px;
    width: 140px;
    padding: 10px 0px 0px 20px;
    font-size: 10px;
    font-weight: 550;
    color: rgb(224, 215, 215);
  }
  span {
    height: 30px;
    width: 30px;
    font-size: 25px;
    font-weight: 550;
    color: $primaryDark;
    float: right;
    position: relative;
    margin-top: 12px;
    margin-right: -5px;
  }
  &:hover {
    clip-path: circle(75%);
    background-color: $primaryLight;
  }
}
.Lost-Section {
  height: 500px;
  width: 250px;
  margin: 0px 20px;
  background-color: $primaryDark;
  border: 3px solid $primaryDark;
  @include flex(column, space-around, center);
  animation: fadein 2s;
}
.Lost-Top {
  @include flex(column, center, center);
  .Lost-Portrait {
    height: 80px;
    width: 80px;
    background: url(../img/4.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 80px 80px;
  }
  h2 {
    font-size: 25px;
    font-weight: 550;
    color: rgb(224, 215, 215);
  }
  p {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 550;
    color: rgb(224, 215, 215);
  }
  .Restart-Button {
    cursor: pointer;
    height: 60px;
    width: 180px;
    margin-top: 20px;
    background-color: $primaryDark;
    border: 3px solid $primaryLight;
    border-radius: 30px;
    @include flex(default, center, center);
    font-size: 22px;
    font-weight: 550;
    color: $primaryLight;
    transition:.5s;
    &:hover {
      background-color: $primaryLight;
      color: white;
      box-shadow: 0px 0px 20px 0px white;
    }
  }
}
.Lost-Bottom {
  @include flex(column, center, center);
  p {
    margin: 0 20px 0 20px;
    text-align: justify;
    font-size: 15px;
    font-weight: 550;
    color: rgb(224, 215, 215);
  }
  .Okay-Portrait {
    height: 50px;
    width: 50px;
    background: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50px 50px;
  }
}